﻿@model MVC_Project.Models.Travellers
@{
    ViewBag.Title = "Add Travellers";
}

<h2>Add Travellers</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(x => x.firstname)
        @Html.EditorFor(x => x.firstname)
        @Html.ValidationMessageFor(x => x.firstname)
    </div>
    <div>
        @Html.LabelFor(x => x.lastname)
        @Html.EditorFor(x => x.lastname)
        @Html.ValidationMessageFor(x => x.lastname)
    </div>
    <div>
        @Html.LabelFor(x => x.comments)
        @Html.EditorFor(x => x.comments)
        @Html.ValidationMessageFor(x => x.comments)
    </div>
        <div>
        @Html.LabelFor(x => x.rating)
        @Html.EditorFor(x => x.rating)
        @Html.ValidationMessageFor(x => x.rating)
    </div>
    
    <p>
        <input type="submit" value="Create" />
    </p>
}