﻿@model IEnumerable<MVC_Project.Models.Continents>
@{
    ViewBag.Title = "Continents";
}

<h2>Continents</h2>
<table>
    <tr>
        <td>Continent Name</td>
        <td>Countries Count</td>
        <td>Travellers Count</td>
        <td></td>
    </tr>
@foreach (var x in Model)
{
    <tr>
        <td>@Html.ActionLink(x.ContinentName, "countriesindex","Countries", new { id = x.ContinentID },null)</td>
        <td>@Html.DisplayFor(modelItem => x.CountriesList.Count)</td>
        <td>@Html.DisplayFor(modelItem => x.travellerslist.Count)</td>
        <td>@Html.ActionLink("Add Country","addcountry", "Countries",new {fkcontinent = x.ContinentID}, null)</td>
    </tr>
}
</table>