﻿@model MVC_Project.Models.Countries
@{
    ViewBag.Title = "Add Country";
}

<h2>Add Country</h2>
<p>@ViewBag.err</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<div>
    @Html.LabelFor(x => x.countryname)
    @Html.EditorFor(x => x.countryname)
</div>
<div>
    @Html.LabelFor(x => x.conversionrate)
    @Html.EditorFor(x => x.conversionrate)
</div>
<div>
    @Html.LabelFor(x => x.currencyname)
    @Html.EditorFor(x => x.currencyname)
</div>
<p>
    <input type="submit" value="Create" />
</p>
}