﻿@model MVC_Project.Models.Continents
@{
    ViewBag.Title = "Countries";
}
<table>
<tr>
    <td>Country</td>
    <td>Continent</td>
    <td>Currency</td>
    <td>Conversion Rate</td>
    <td></td>
</tr>
@foreach(var x in Model.CountriesList)
{
    <tr>
        <td>@Html.ActionLink(x.countryname, "details", "Countries", new { id = x.ID },null)</td>
        <td>@Html.DisplayFor(model => x.continent.ContinentName)</td>
        <td>@Html.DisplayFor(model => x.currencyname)</td>
        <td>@Html.DisplayFor(model => x.conversionrate)</td>
        <td>@Html.ActionLink("Add Country", "addcountry", "Countries", new {fkcontinent = x.ID }, null)</td>
    </tr>
}
</table>
