﻿@model IEnumerable<MVC_Project.Models.Countries>
@{
    ViewBag.Title = "Countries";
}
<h2>Countries</h2>
<table>
<tr>
    <td>Continent</td>
    <td>Country</td>
    <td>Currency</td>
    <td>Conversion Rate</td>
    <td>Travellers Count</td>
    <td></td>
</tr>
@foreach (var x in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => x.continent.ContinentName)</td>
        <td>@Html.ActionLink(x.countryname, "details", new { id = x.ID })</td>
        <td>@Html.DisplayFor(modelItem => x.currencyname)</td>
        <td>@Html.DisplayFor(modelItem => x.conversionrate)</td>
        <td>@Html.DisplayFor(modelItem => x.travellerslist.Count)</td>
        <td>@Html.ActionLink("Add Comment","addtravellers", "Travellers", new { fkcountriesid = x.ID, fkcontinentalid = x.continent.ContinentID},null)</td>
    </tr>    
}
</table>

