﻿@model MVC_Project.Models.Countries
@{
    ViewBag.Title = "Country";
}

<h2>@Html.DisplayFor(a=>a.countryname)</h2>
<p>@Html.DisplayFor(a => a.currencyname)</p>
<p>@Html.DisplayFor(a=>a.conversionrate)</p>

@foreach (var x in Model.travellerslist)
{
    <p>Commenter: @x.firstname @x.lastname</p>
    <p>Rating: @x.rating</p>                                                 
    <p>@x.comments</p>

}

<p>@Html.ActionLink("Back to List", "countries", "Countries")</p>